version: '3.2'

services:
  nivel1:
    build:
      context: ./nivel1
      dockerfile: Dockerfile
    image: l3ctf/nivel1:dev
    ports:
      - '4444:4444'

  nivel2:
      build:
        context: ./nivel2
        dockerfile: Dockerfile
      image: l3ctf/nivel2:dev
      ports:
        - '2222:2222'
      volumes:
        - '//var/run/docker.sock:/var/run/docker.sock'

  nivel3:
      build:
        context: ./nivel3
        dockerfile: Dockerfile
      image: l3ctf/nivel3:dev



