version: '3.2'

services:
  nivel1:
    build:
      context: ./nivel1
      dockerfile: Dockerfile
    image: l3ctf/nivel1:dev
    ports:
      - '4444:4444'

    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.2'
          memory: 128M

  nivel2:
    build:
      context: ./nivel2
      dockerfile: Dockerfile
    image: l3ctf/nivel2:dev
    ports:
      - '2222:22222'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'

    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.2'
          memory: 128M

  nivel3:
    build:
      context: ./nivel3
      dockerfile: Dockerfile
    image: l3ctf/nivel3:dev

    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.2'
          memory: 128M


