body {
    margin: 0;
    font-family: 'Lato', 'Droid Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.9);
}
